body {
    background-color: #b60505;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-self: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
    background-color: #ff7878;
    color:white;
    font-family: "Bai Jamjuree", sans-serif;
}

